@import 'variables';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
    padding: 30px 30px 15px;
}

.info-text-aside {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.sideRight {
        .main-text {
            order: 2;
            ul {
                text-align: right;
            }
        }
        .side-text {
            justify-content: flex-start;
            div {
                text-align: left;
            }
        }
    }

    .main-text,
    .side-text {
        order: 1;
        span {
            color: $color-orange;
        }
    }

    .main-text {
        width: 66.6%;
        text-align: left;
        font-size: 40px;
        margin-bottom: 40px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;
            &.bigList {
                font-size: 28px;
                columns: 2;
                height: 300px;
            }
        }
    }

    .side-text {
        display: flex;
        width: 33.3%;
        justify-content: flex-end;
        font-size: 20px;
        div {
            text-align: right;
        }
        div > * {
            display: inline;
            margin: 0;
        }
    }
}
