<main class="main">
    <app-hero></app-hero>
    <section class="info-text">
        <p>
            Das gülich<span>+</span> Werbeatelier ist ein in Biberach ansässiges
            Designatelier mit <span>regionalen</span>,
            <span>nationalen</span> und <span>internationalen</span> Projekten.
            Unser Werbeatelier sticht durch konzeptionelle und strategische
            Arbeit heraus und liefert sowohl <span>zeitlose</span>, als auch
            <span>innovative</span> Designs
        </p>
    </section>
    <app-slide-show></app-slide-show>
    <app-info-text-aside [config]="sideTexts[0]"> </app-info-text-aside>
    <app-drum-work></app-drum-work>
    <app-info-text-aside [config]="sideTexts[1]"> </app-info-text-aside>
    <app-info-text-aside [config]="sideTexts[2]"> </app-info-text-aside>
    <app-info-text-aside [config]="sideTexts[3]"> </app-info-text-aside>
</main>
