<section class="drum-work">
    <div class="left">
        <div class="logo-container">
            <img class="logo" src="images/logo2.png" alt="Logo" />
        </div>
        <div class="text">
            <p><span>gülich+</span> für</p>
            <p>Drumwork Music<span>.</span></p>
        </div>
        <button>Zum Album.</button>
    </div>
    <div class="right">
        <div class="logo-container">
            <img class="logo" src="images/drumwork.jpg" alt="Logo" />
            <div class="text">
                <p><span>Jae Skeese</span></p>
                Ground Level<span>.</span>
            </div>
        </div>
        <div class="vinyl-container">
            <img class="vinyl" src="images/quadrat6-removebg.png" alt="Vinyl" />
        </div>
    </div>
</section>
